/* RESET - https://github.com/digitalinteraction/alembic/blob/main/src/lib/reset.css */

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  margin: 0;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* STYLES */

main {
  background-color: rebeccapurple;
  width: 100vw;
  height: 100vh;
}
