/* RESET - https://github.com/digitalinteraction/alembic/blob/main/src/lib/reset.css */

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* STYLES */

body {
  color: white;
  background-color: black;
}
aside {
  position: fixed;
  top: 0;
  right: 0;
  max-width: 420px;
  padding: 0.5em;
}
aside p {
  background-color: white;
  color: black;
  padding: 1em;
  border-radius: 1em;
  margin: 0 0 1em;
  opacity: 0.7;
  width: 100%;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}
#remoteVideo {
  width: 100%;
  height: 100%;
  aspect-ratio: 16 / 9;
  object-fit: cover;
}
#localVideo {
  width: 25vw;
  aspect-ratio: 16 / 9;
  object-fit: cover;
  position: absolute;
  right: 1em;
  bottom: 1em;
  border-radius: 0.5em;
}
h1 {
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  margin: 0 1rem;
  text-align: center;
  font-weight: 400;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}
#version {
  position: fixed;
  left: 0.25rem;
  bottom: 0.25rem;
  font-size: 10px;
  text-shadow: 1px 1px 5px black;
}
[aria-hidden="true"] {
  display: none;
}
main {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 100vw;
  height: 100vh;
}
main > * {
  width: 400px;
  aspect-ratio: 16 / 9;
  flex-grow: 1;
}
main > [data-video="__self__"] {
  outline: 5px solid royalblue;
  z-index: 1;
}
main > .debug {
  background-color: coral;
  border: 2px solid white;
}
