$family-sans-serif: system-ui, BlinkMacSystemFont, -apple-system, "Segoe UI",
  "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
  "Helvetica Neue", "Helvetica", "Arial", sans-serif;

$white: white;
$black: black;

$deconf-blue: #2770bf;
$deconf-navy: #193059;
$deconf-yellow: #fdca41;
$deconf-orange: #fe6f59;
$deconf-red: #f03a48;

$primary: $deconf-blue;
$secondary: $deconf-orange;
$link: $deconf-navy;

$sideTabs-background: $deconf-blue;
$sideTabs-active: $deconf-blue;

@import "@openlab/deconf-ui-toolkit/common.scss";
